@model QlBanGiay.Models.User
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using QlBanGiay.Models

@{
    ViewData["Title"] = "FormCreateUpdateUser";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@functions {
    QLBanGiayContext db = new QLBanGiayContext();
    public bool getActiveAccount(int id)
    {
        var trangThai = (from u in db.Users 
                        where u.Id == id 
                        select u.TrangThai).FirstOrDefault();
        if(trangThai == true)
        {
            return true;
        }
        return false;
    }
}

<style>
    .anhDaiDien {
        height: 215px;
        width: 215px;
        border-radius: 50%; /* Làm tròn hình ảnh */
        object-fit: cover; /* Đảm bảo hình ảnh không bị vỡ khi làm tròn */
    }

    form {
        display: flex;
        justify-content: space-around;
    }
    .left {
        min-height: 320px;
    }

    .right {
        padding-left: 15px;
    }

    .form-control {
        border-radius: 5px;
        /*border: 1px solid #ccc;*/
        padding: 8px;
        transition: all 0.3s ease;
    }

    .form-control:focus {
        outline: none;
        border-color: #3498db; /* Màu viền khi input được focus */
        box-shadow: 0 0 5px rgba(52, 152, 219, 0.5); /* Hiệu ứng shadow khi focus */
    }

    .tieude {
        text-align: center;
    }

    .left .form-group {
        display: flex;
        justify-content: center;
    }

    .left, .right {
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
        border-radius: 0.25rem;
    }

    .control-label {
        font-weight: bolder !important;
    }

    .form-group input {
        border: 1px solid black;
    }
</style>

<hr />

<div class="row">
        <form action="@ViewBag.action" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-4 left">
                <div class="form-group">
                    @if (Model != null && Model.Anh != null)
                    {
                        <img src="@Url.Content("~/Images/User/"+Model.Anh)" alt="Hình ảnh" class="anhDaiDien">
                    } else {
                        <img src="~/Images/User/avatar5.png" alt="Hình ảnh" class="anhDaiDien" />
                    }
                </div>
                <div class="form-group">
                    <input type="file" asp-for="Anh" name="Anh" class="form-control" />
                    <span asp-validation-for="Anh" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-7 right">
                <div class="form-group">
                    <p style="color: red;">@TempData["Error"]</p>
                    <label asp-for="TaiKhoan" class="control-label"></label>
                    <input asp-for="TaiKhoan" name="TaiKhoan" class="form-control" placeholder="Nhập tài khoản"/>
                    <span asp-validation-for="TaiKhoan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MatKhau" class="control-label"></label>
                    @if(Model != null)
                    {
                        <input type="password" asp-for="MatKhau" name="MatKhau" class="form-control" placeholder="Nếu không thay đổi mật khẩu thì không nhập vào ô này"/>
                    } else
                    {
                        <input asp-for="MatKhau" name="MatKhau" class="form-control" placeholder="Nhập mật khẩu"/>
                    }
                
                    <span asp-validation-for="MatKhau" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HoTen" class="control-label"></label>
                    <input asp-for="HoTen" name="HoTen" class="form-control" placeholder="Họ và tên"/>
                    <span asp-validation-for="HoTen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input type="email" asp-for="Email" name="Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" name="DiaChi" class="form-control" placeholder="Địa chỉ"/>
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Sdt" class="control-label"></label>
                    <input type="number" asp-for="Sdt" name="Sdt" class="form-control" placeholder="Số điện thoại"/>
                    <span asp-validation-for="Sdt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Trạng thái</label><br>
                    @if(Model != null)
                    {
                        <input type="radio" @(getActiveAccount(Model.Id) ? "checked" : "") asp-for="TrangThai" value="1" name="TrangThai" id="active" />
                        <label for="active">Hoạt động</label><br>
                        <input type="radio" @(getActiveAccount(Model.Id) ? "" : "checked") asp-for="TrangThai" value="0" name="TrangThai" id="locked" />
                        <label for="locked">Đã khoá</label><br>
                    } else
                    {
                        <input type="radio" checked asp-for="TrangThai" value="1" name="TrangThai" id="active" />
                        <label for="active">Hoạt động</label>
                        <input type="radio" asp-for="TrangThai" value="0" name="TrangThai" id="locked" />
                        <label for="locked">Đã khoá</label>
                    }
                    <span asp-validation-for="TrangThai" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Lưu" class="btn btn-primary" />
                </div>
            </div>
            
        </form>
</div>

