@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using QlBanGiay.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QlBanGiay.Models.User

@functions {
    QLBanGiayContext db = new QLBanGiayContext();
    public List<LoaiUser> getAllLoaiUser()
    {
        var listLoaiUser = (from lu in db.LoaiUsers
                           select lu).ToList();
        return listLoaiUser;
    }
}


<div class="row">
    <div class="col-md-4">
        <form method="post" action="@ViewBag.action">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Phân quyền</label>

                @{
                    List<LoaiUser> listAll = getAllLoaiUser();
                }

                @if (ViewBag.QuyenDaChon != null)
                {
                    @foreach (var item in listAll)
                    {
                        <div class="form-check">
                            @{
                                var isSelected = false;
                            }

                            @foreach (var loai in ViewBag.QuyenDaChon)
                            {
                                @*lắp tới khi tim được kích thước mà sản phẩm đó có.*@
                                if (loai == item.TenLoaiUser)
                                {
                                    isSelected = true;
                                    break;
                                }
                            }
                            <input type="checkbox" @(isSelected ? "checked" : "") class="form-check-input" name="loaiuser" value="@item.Id" id="@item.TenLoaiUser">
                            <label class="form-check-label" for="@item.TenLoaiUser">@item.TenLoaiUser</label>
                        </div>
                    }
                } else
                {
                    @foreach(var item in listAll)
                    {
                        <input type="checkbox" class="form-check-input" name="kichThuocs" value="@item.Id" id="@item.TenLoaiUser">
                        <label class="form-check-label" for="@item.TenLoaiUser">@item.TenLoaiUser</label>
                    }
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Admin" asp-controller="User" asp-action="DanhMucTaiKhoan">Trở lại</a>
</div>