@using X.PagedList.Mvc.Core
@using QlBanGiay.Models
@model X.PagedList.IPagedList<SanPham>

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<style>
    td a {
        font-size: 20px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding-top: 16px;
    }

    ul {
        list-style-type: none;
    }

    /* Định dạng cho bảng */
    .table {
        width: 100%;
        border-collapse: collapse;
        font-family: monospace;
    }

    /* Định dạng cho các ô */
    .table, th, td {
        padding: 10px;
        text-align: left;
        border: 1px solid black;
        text-align: center;
    }

        /* Định dạng cho dòng chẵn */
        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /* Định dạng khi di chuột qua */
        .table tr:hover {
            background-color: #ddd;
        }

    /* Định dạng cho dropdown select */
    .trangThaiSelect {
        padding: 8px;
        border-radius: 4px;
    }

    table p {
        margin-top: 16px !important;
        text-align: center;
    }
</style>

<h1>Danh mục sản phẩm</h1>

<p>
    <a href="./create" class="btn btn-primary">Thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá
            </th>
            <th>
                Bảo hành
            </th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        <div>
            @{
                int i = 0;
                string cla = "table-success";
            }
            @foreach (var item in Model)
            {
                cla = "table-success";
                i += 1;
                if (i % 2 == 0)
                {
                    cla = "table-warning";
                }
            <tr class="@cla">
                <td>
                    @i
                </td>
                <td>
                    <img src="@Url.Content("~/Images/"+item.Anh)" />
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.TenSp)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                        @string.Format("{0:N0} VNĐ", item.Gia)
                </td>
                    @if (item.ThoiGianBaoHanh != null)
                    {
                    <td>
                            @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh) tháng
                    </td>
                    }
                    else
                    {
                    <td>
                        Không bảo hành
                    </td>
                    }

                <td>
                    <a asp-area="Admin" asp-controller="Product" asp-action="Update" asp-route-id="@item.Id"><i class="bx bx-edit"></i></a> |
                    <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@item.Id"><i class="bx bx-trash"></i></a>
                </td>
            </tr>
            }
        </div>
        
    </tbody>
</table>

<div>
    @if (Model.PageCount > 1)
    {
        <ul class="pagination">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="?page=1">&laquo;</a>
            </li>
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="?page=@Model.PageCount">&raquo;</a>
            </li>
        </ul>
    }
</div>